body {
    font-family: "Raleway";
    color: #000;
    font-weight: 300;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
[class*="__container"] {
    max-width: 1187px;
    margin: 0px auto;
    padding: 0 15px;
    position: relative;
}

.feature{
    position: absolute;
    top: 0px;
    left: -60px;
    text-transform: uppercase;
    color: rgba(129, 117, 104, 0.12);
    font-family: Raleway;
    font-size: 200px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

.btn {
    max-width: max-content;
    margin-top: 30px;
    padding: 12px 65px;
    background-color: #34454d;
    font-family: "Raleway";
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    transition: all 0.1s ease-in;
    z-index: 100;
}
.btn::before {
    z-index: -10;
    content: "";
    position: absolute;
    bottom: -7px;
    right: -7px;
    width: 100%;
    height: 100%;
    border: 1px solid #34454d;
    transition: all 0.1s ease-in;
}

.btn:hover {
    background-color: #4d6a78;
}
.btn:hover::before {
    border: 1px solid #4d6a78;
}

.title {
    margin-top: 60px;
    color: #34454d;
    font-family: Raleway;
    font-size: 45px;
    font-weight: 900;
}
.text {
    margin-top: 22px;
    max-width: 330px;
    color: rgba(0, 0, 0, 0.68);
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}